
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movies-primary: mat-palette($mat-indigo);
$movies-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movies-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$movies-theme: mat-light-theme($movies-primary, $movies-accent, $movies-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($movies-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body{
    margin: 0;
}
// .text-warn {
//     color:$warn;
// }
.bg-0{
    background-color:  transparent;
}
.flex{
    display: flex;
}
.flex-between{
    display: flex;
    justify-content: space-between
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-center-v{
    display: flex;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.w-full{
    width: 100%;
}


.toolbar {
    background-color: #1b1b1b;
    border-color: #292929;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    color: #ffffff;
    padding: 0 12px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
    .logo {
        max-width: 120px;
    }
    .user {
        max-width: 60px;
        border-radius: 50%;
    }
}

.example-spacer {
    flex: 1 1 auto;
}
